<ion-content class="ion-justify-content-center">
  <ion-grid
    class="ion-text-center"
    style="height: 100vh; background-color: #0B508C"
  >

    <!-- Texto arriba -->
    <ion-row style="height: 20%" class="ion-align-items-end">
      <ion-col>
        <h1 class="titulo">
          Relevamiento visual <strong>kinético</strong>
        </h1>
      </ion-col>
    </ion-row>

    <!-- Círculo con imagen al centro -->
    <ion-row style="height: 60%" class="ion-align-items-center">
      <ion-col>
        <div class="circle rotate-full">
          <img src="assets/icon/Marlujo visualizador kinetico.png" alt="Splash logo" />
        </div>
      </ion-col>
    </ion-row>

    <!-- Texto abajo -->
    <ion-row style="height: 20%" class="ion-align-items-start">
      <ion-col>
        <h2 class="subtitulo tracking-in-expand">
          Lucas G. Sigüenza
        </h2>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
