ion-content.pantalla-juego {
  --background:
    linear-gradient(
      180deg,
      rgba(242, 225, 174, 0.15) 0%,
      rgba(242, 225, 174, 0.15) 12%,
      rgba(242, 225, 174, 0.15) 22%,
      rgba(242, 225, 174, 0.15) 38%,
      rgba(242, 219, 148, 0.35) 60%,
      rgba(166, 127, 56, 0.55) 100%
    ),
    radial-gradient(
      circle at top,
      rgba(255, 200, 87, 0.35),
      rgba(34, 49, 51, 0.9)
    );

  padding: 1rem 0.8rem 1.2rem;
}

.tabla-wrapper {
  background: rgba(51, 22, 22, 0.85);
  border-radius: 1.2rem;
  padding: 1rem;
  box-shadow: 0 0 18px rgba(255, 200, 87, 0.45);
}

.titulo {
  text-align: center;
  color: #ffc857;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  text-shadow: 0 0 6px rgba(255, 200, 87, 0.8);
}

.tabla-neon {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

thead {
  background: rgba(255, 200, 87, 0.25);
}

th {
  color: #ffc857;
  padding: 0.6rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}

tbody tr {
  border-bottom: 1px solid rgba(255, 200, 87, 0.15);
}

td {
  padding: 0.55rem;
  color: #f2f6f7;
  text-align: center;
}

.ranking {
  font-weight: 700;
  color: #ffc857;
}

.tiempo {
  font-family: monospace;
  color: #ffdd8a;
}

.dificultad {
  text-transform: capitalize;
}

.sin-datos {
  padding: 1rem;
  color: #ffc857;
  font-style: italic;
}

/* FABs */
ion-fab-button {
  --background: #ffc857;
  --color: #223133;
  margin-top: 0.4rem;
    margin-bottom: 1rem;
  font-weight: 700;
  --box-shadow: 0 0 12px rgba(255, 200, 87, 0.8);
}

.fab-media {
  --background: #ffb703;
}

.fab-dificil {
  --background: #ff8c42;
}
